    <mat-toolbar class="text">
      <span>Interfaz de Gestión de presupuestos</span>
    </mat-toolbar>
    <br>
    <p>INGRESAR GASTOS</p>
    <form [formGroup]="form">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Tipo de límite</mat-label>
            <mat-select formControlName="tipoLimite"
            >
                <mat-option *ngFor="let limite of catalogo_gastos" [value]="limite">
                    {{limite.descripcion_catalogo}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-button>
            <mat-icon>save</mat-icon>
            Guardar
        </button>
    </form>


